body {
  font-family: 'Montserrat';
}

#title {
  background-color: #ff4c68;
  color: #fff;
  /* black is : #000 */
}

/* Attention: the Google Api fpr fonts is new, this is the correct way to
implement it, not from course!!! */
h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  color: #8f8f8f
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* NAVIGATION BAR SECTION */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 300;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 100;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* FEATURES SECTION */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* we change the color to white to make sure it is NOT transparent
  this will affect the z-axis arrangement. we have to make the "title-image"
  go behind the features. */
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

/* For the HOVER STATE we use a pseudo-class: */
.icon:hover {
  color: #ff4c68;
}

/* TESTIMONIALS SECTION */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  /* to make the img into circle */
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* PRESS SECTION */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING SECTION */
#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CALL TO ACTION SECTION */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* THE FOOTER SECTION */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
